.container{
    display: flex; 
    justify-content: center;
    width: 100%;
    gap: 2rem;
}

.bottom_images{
    display: flex; 
    gap: 5px;
    flex-basis: 50%;
}

.left_container{
    display: flex;
    flex-direction: column;
    flex-basis: 50%;
    
}

.right_container{
    flex-basis: 50%;
}

.left_container img{
    width: 100%;
    height: 100%;
}  

 .first_image{
    height: 600px;
    width: 735px;

} 

