* {
    margin: 0;
    box-sizing: border-box;
    font-family: Georgia, "Times New Roman", serif;
}

body {
    background-color: #fff;
}

.container {
    display: flex;
    gap: 20px;
   padding: 40px 20px;
    width: 100%;
    justify-content: center;
    margin-bottom: 50px;
    flex-basis: 30%; 
}
 

.card{
     height: 260px; 
}

.card img {
    width: 100%;
    object-fit: cover;
    height: 100%;
}

.card h2 {
    margin-top: 16px;
    font-size: 22px;
    font-weight: bold;
}

.card p {
    margin-top: 10px;
    font-size: 16px;
    line-height: 1.5;
}